---
import astroLogo from "../assets/astro.svg";
import HamburgerMenu from "./HamburgerMenu";
const NAV_PAGES = [
  { name: "Home", link: "/" },
  { name: "About", link: "/" },
  { name: "Pricing", link: "/" },
  { name: "Contact", link: "/" },
];

const LEFT_NAV_PAGES = NAV_PAGES.slice(0, NAV_PAGES.length / 2);
const RIGHT_NAV_PAGES = NAV_PAGES.slice(NAV_PAGES.length / 2);
---

<header
  class="flex items-center justify-between absolute w-full left-0 px-3 md:justify-around py-1 md:px-[5%]"
>
  <div class="hidden side-menu md:flex gap-4 h-20" id="left-menu">
    {
      LEFT_NAV_PAGES.map((page) => (
        <div class="menu-item text-xl flex justify-center items-center h-auto">
          <a href={page.link} class="font-medium tracking-wide px-4">
            {page.name}
          </a>
        </div>
      ))
    }
  </div>
  <div class="flex items-center gap-4 my-2" id="logo">
    <img
      class="h-16 hover:cursor-pointer"
      src={astroLogo.src}
      alt="Astro Homepage"
    />
  </div>
  <div class="hidden side-menu md:flex gap-4 h-20" id="right-menu">
    {
      RIGHT_NAV_PAGES.map((page) => (
        <div class="menu-item text-xl flex justify-center items-center h-auto">
          <a href={page.link} class="font-medium tracking-wide px-4">
            {page.name}
          </a>
        </div>
      ))
    }
  </div>
  <div class="md:hidden" id="burger">
    <HamburgerMenu client:idle pages={NAV_PAGES} />
  </div>
</header>
<style>
  .menu-item {
    color: whitesmoke;
    transition: 0.3s ease-in-out all;
    background: transparent;
  }

  .menu-item:hover {
    cursor: pointer;
    background: linear-gradient(
      180deg,
      rgba(0, 19, 89, 0.33) 0%,
      rgba(0, 31, 145, 0.884) 97%
    );
  }
</style>
